.check-icon {
	cursor	: pointer;
}

:-ms-input-placeholder {
	color: #bbb;
}

button[class^="btn-"] {
	margin: 1.5rem 0 0 0;
	padding: 1rem;
	font-size: 18px;
	font-size: 1.8rem;
	color: #ffffff;
	text-align: center;
	border-radius: .2rem;
}
button[class^="btn-"]:hover {
	color: #ffffff;
	text-decoration: none;
}
button.btn-next,
button.btn-next-full,
button.btn-submit,
button.btn-return,
button.btn-starter {
	margin-left: .5rem;
	background: #ff0000;
	border: .1rem solid #ff0000;
}
button.btn-next,
button.btn-next-full {
	display: inline-block;
	width: 30rem;
	margin-left: 1rem;
}

@media screen and (max-width: 767px) {
	button.btn-next {
		display: inline-block;
		width : calc(72% - 1rem);
		margin : .5rem;
		font-size	: 1.3rem;
	}

	button.btn-next-full {
		display: inline-block;
		width : 100%;
		margin : .5rem;
		font-size	: 1.3rem;
	}


}

section#adress .form .validation {
	display	: inline-block;
}

section#lineup .form .validation {
    display: inline-block;
    background: #ff6666 none repeat scroll 0 0;
    border: 0.1rem solid #ff6666;
    border-radius: 2px;
    color: #ffffff;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    font-size: 1.6rem;
}

.validation,.search-address-error-message {
	display	: inline-block;
}

.select-delivery{
	min-width: 210px;
}

/* Loader */
.airloader-overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  /* airCenter センタリング */
  position: fixed;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-line{
    vertical-align:top;
}

.btn-next[disabled],
.btn-next.active[disabled],
.btn-next.focus[disabled],
.btn-next[disabled]:active,
.btn-next[disabled]:focus,
.btn-next[disabled]:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.search-address-error-message {
    background: #ff6666 none repeat scroll 0 0;
    border: 0.1rem solid #ff6666;
    border-radius: 2px;
    color: #ffffff;
    margin: 0.5rem 0 0 !important;
    padding: 0.5rem;
}

a.btn-starter {
	margin	: 0px
}

a.btn-submit, a.btn-return, a.btn-starter {
	cursor	: pointer;
}