@charset "utf-8";

.box_select_checkbox input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.box_select_checkbox input[type="checkbox"] + button:after {
    content: "ボックス選択"
}
.box_select_checkbox input[type="checkbox"]:checked + button {
    background-color: #727272;
    border-color: #727272;
}
.box_select_checkbox input[type="checkbox"]:checked + button:after {
    content: "選択解除"
}

.outbound_select_checkbox input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.outbound_select_checkbox input[type="checkbox"] + button:after {
    content: "取り出しリストに登録"
}
.outbound_select_checkbox input[type="checkbox"]:checked + button {
    background-color: #727272;
    border-color: #727272;
}
.outbound_select_checkbox input[type="checkbox"]:checked + button:after {
    content: "選択解除"
}

.outbound_mono_select_checkbox input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.outbound_mono_select_checkbox input[type="checkbox"] + button:after {
    content: "ボックス選択"
}
.outbound_mono_select_checkbox input[type="checkbox"]:checked + button {
    background-color: #727272;
    border-color: #727272;
}
.outbound_mono_select_checkbox input[type="checkbox"]:checked + button:after {
    content: "選択解除"
}

p.error-message {
  border: 1px solid #f5e79e;
  margin: 3px 0 10px 0;
  padding: 5px 10px;
  background-color: #fcf8e3;
}
p.error-message::before {
  font-family: 'FontAwesome';
  color: #f4c007;
  font-size: 1.2em;
  content: '\f06a\0020\0020';
}

.alliance {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 180px;
}
