@charset "utf-8";

.box_select_checkbox input,
.inbound_box_select_checkbox input,
.outbound_select_checkbox input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.box_select_checkbox input[type="checkbox"]:checked + button,
.inbound_box_select_checkbox input[type="checkbox"]:checked + button,
.outbound_select_checkbox input[type="checkbox"]:checked + button {
    background-color: #727272;
    border-color: #727272;
}

.box_select_checkbox input[type="checkbox"] + button:after {
    content: "ボックスを選択する"
}
.inbound_box_select_checkbox input[type="checkbox"] + button:after {
    content: "このボックスを預ける"
}
.outbound_select_checkbox input[type="checkbox"] + button:after {
    content: "取り出しリストに登録する"
}
.box_select_checkbox input[type="checkbox"]:checked + button:after,
.outbound_select_checkbox input[type="checkbox"]:checked + button:after {
    content: "選択を解除する"
}
.inbound_box_select_checkbox input[type="checkbox"]:checked + button:after {
    content: "預けるのをやめる"
}


p.error-message {
  border: 1px solid #f5e79e;
  margin: 3px 0 10px 0;
  padding: 5px 10px;
  background-color: #fcf8e3;
}
p.error-message-red {
  border: 1px solid #f59e9e;
  margin: 3px 0 10px 0;
  padding: 5px 10px;
  background-color: #fce3e3;
}
p.error-message::before {
  font-family: 'FontAwesome';
  color: #f4c007;
  font-size: 1.2em;
  content: '\f06a\0020\0020';
}
p.error-message-red::before {
  font-family: 'FontAwesome';
  color: #f40707;
  font-size: 1.2em;
  content: '\f06a\0020\0020';
}
p.error-message a,
.panel-body p.flash-message a {
  color: #333;
  text-decoration: underline;
}
p.error-message a:hover,
.panel-body p.flash-message a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.alliance {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 180px;
}

.placeholder {
  color: #aaa;
}

.dev-forefront {
  z-index: 99999;
}

/* app.cssのbox-item-nameと同じ効果、
実装タイミングの要因でこちらを利用する */
.boxitem-name {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Loader */
.airloader-overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  /* airCenter センタリング */
  position: fixed;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* v2.2 をマージしたら消す */
.panel-red a:focus {
	color: #d9534f;
}

/* travel */
.outbound-expire {
  display: none;
}

.panel-body .none-link{
  color: #666;
}

#accordion-point {
  background-color:#f5f5f5;
}

.accordion-point-header:hover {
  opacity: 0.4;
}

.accordion-point-header,
.accordion-point-header:hover,
.accordion-point-header:focus {
  color: #666;
  display:block;
}

.grid .item-select .checkbox + .check-icon {
  cursor: pointer;
}

/* contact_us/detail */
.dev_contact_us_margin {
  margin-left: 10px;
}


/** minikura ver2.5 amazon pay **/


#dsn-amazon-pay {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
#dsn-amazon-pay img,
#dsn-payment img {
  width: 100%;
}
#dsn-amazon-pay .dsn-address,
#dsn-amazon-pay .dsn-credit {
  width: calc(50% - 1rem);
}
#dsn-payment {
  width: 100%;
  margin: 0 0 2rem;
}
.dsn-amazon-login h3 {
  margin: 0 0 1rem;
  font-size: 16px;
}
.dsn-amazon-login p {
  margin: 0 0 2rem;
  font-size: 12px;
}
.dsn-amazon-login a {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.dsn-amazon-login img {
  width: 174px;
}
#dsn-amazon-input {
  margin: 3rem;
  text-align: center;
}
#dsn-amazon-input img {
  width: 100%;
  max-width: 750px;
  border: 1px solid #999999;
}
section#dsn-amazon {
  max-width: 768px;
  margin: 0 auto 3rem;
  padding: 0 .5rem;
  text-align: center;
}
section#dsn-amazon img {
  width: 100%;
  border: .1rem solid #cccccc;
}
section#dsn-amazon p {
  font-size: 16px;
  font-size: 1.6rem;
}
section.select-login .login-amazon {
  margin: 0 2rem 2rem;
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}
.dsn-modal-login-amazon {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-top: .1rem solid #cccccc;
}
.dsn-modal-login-amazon p {
  margin: 1rem 0;
}
.dsn-modal-login-amazon img {
  width: 200px;
}

@media screen and (max-width: 991px) {
#dsn-amazon-pay {
  display: block;
}
#dsn-amazon-pay .dsn-address,
#dsn-amazon-pay .dsn-credit {
  width: 100%;
  margin-bottom: 2rem;
}
.dsn-amazon-login h3 {
  font-size: 14px;
}
.dsn-amazon-login img {
  width: 200px;
}
.dsn-modal-login-amazon {
  margin-top: 1.5rem;
  padding-bottom: .5rem;
  border-top: .1rem solid #cccccc;
}
.dsn-modal-login-amazon p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2;
}
}

.dsn-form input {
  display: block;
  border: .1rem solid #cccccc;
  padding: 1rem;
}
.dsn-form input[class^="dsn-name"] {
  display: inline-block;
}
.dsn-form label {
  display: block;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
}
.dsn-form label span {
  margin-left: .25rem;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  color: #ff6666;
}

.panel .form-group .validation {
    display: inline-block;
    color: #ff6666;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    font-size: 1.6rem;
}

.panel .name-form-group {
    display: none;
}

a.use_agreement{
  color: #ff0000;
}

a.use_agreement:hover{
  color: #ff0000;
}

.panel_scroll {
  border: 1px solid #bbbbbb;
  height: 200px;
  overflow: auto;
}

.sns .cb:checked+.text:after{
  content:initial;
  background:initial;
}

.border_gray {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

.head_validation .validation {
  display: inline-block;
  color: #ff6666;
  margin: 0.5rem 0 0;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.dsn-form .alert-danger {
  font-size: 1.6rem;
}
p.facebook-message a,
.panel-body p.flash-message a {
  color: #333;
  text-decoration: underline;
}

.card_error .validation {
  display: inline-block;
  color: #ff6666;
  margin: 0.5rem 0 0;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.form-error {
  border: .1rem solid red;
}

#dev-new-box-grid > li > div > input {
  font-size: 1rem;
}
#dev-new-box-grid > li > div > p.box-id{
  font-size: 1rem;
}
#dev-new-box-grid > li > div > p.box-type{
  font-size: 1rem;
}
#dev-old-box-grid > li > div > input {
  font-size: 1rem;
}
#dev-old-box-grid > li > div > p.box-id{
  font-size: 1rem;
}
#dev-old-box-grid > li > div > p.box-type{
  font-size: 1rem;
}

input:-ms-input-placeholder {
  color: #a9a9a9;
}

.l-present-mail textarea.form-error,
.l-present-mail input.form-error {
  border: .1rem solid red;
}


label.reset_label {
  display: block;
}

#top-notice {
    align-items: flex-start;
}

.l-plan p .red-link {
    color: red;
}

.outbound_select_checkbox > input[type="checkbox"],
box_select_checkbox{
  display: block;
}

.dev-mbs5 {
    margin-bottom: 0.5rem;
}

.dev-mb1 {
    margin-bottom: 1rem;
}

.dev-m1 {
    margin: 1rem;
}

.panel-body .dev-item-content {
    border: none;
}

.dev-none-item {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* 
/order/input_card　のレイアウトが間に合ってないので一時的に追加
2020/06/03 k.yanai
*/
.lineup .items .item .lineup-caption .lineup-price .txt-price .red {
  color: red;
}

.lineup .items .item .lineup-caption .lineup-price .txt-price .strong {
  font-weight: bold;
}