/** minikura ver2.5 boxless **/

a,
a:hover{
	color: #ff0000;
}
p.dsn-select-cargo{
	margin: 2rem 0 1rem;
	font-size: 16px;
	font-size: 1.6rem;
	
}
p.dsn-arrival {
	display: none;
	padding: 1rem;
	color: #ff0000;
	border: 1px solid #ff0000;
}
ul.dsn-caution{
	padding-left: 1rem;
}