.btn-option {
	cursor : pointer;
}

#cleaning-wrapper {
	position	: relative;
}


@media screen and (max-width: 768px) {
	#sp-cleaning-wrapper {
		position	: absolute;
		left		: 0px;
	}
	.btn-next-full {
		width		: 100%;
	}
}

