.grid ul li .item-caption .item-id {
  display    : block;
}

.btn-option {
  cursor : pointer;
}

#cleaning-wrapper {
  position  : relative;
}

@media screen and (max-width: 768px) {
  #sp-cleaning-wrapper {
    position  : absolute;
    left    : 0px;
  }
  .btn-next-full {
    width    : 100%;
  }
}

#infscr-loading {
  text-align    : center;
  margin      : 0 auto;
  letter-spacing  : normal;
}

.pagination {
  visibility    : hidden;
}

.items a.btn-close {
  cursor         : pointer;
}

.disabled {
  opacity       : 0.5;
}

.cleaning-attention {
/*  font-size: 1.0rem;*/
}

#itemlist .l-search-group .l-sort-item .l-sort-az,
#itemlist .l-search-group .l-sort-item .l-sort-date {
  width: calc(50% - 1rem);
}

.item-content > .valid-il {
  margin: initial;
  margin-left: 1rem;
  margin-bottom: 1rem;
}