
a.dsn-btn-submit, a.dsn-btn-return {
    cursor	: pointer;
}

.dsn-item-number{
    cursor: pointer;
}

section#dsn-lineup .form .validation {
    display	: inline-block;
    color: #ff6666;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    font-size: 1.6rem;
}
